body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding:0 ;
    
}
.top-sec{
    display: flex;
    margin: 6%;
}
.title-color{
    color: rgba(255, 115, 0, 0.705);
}
h1{
    font-size: 50px;
    line-height:30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.623);
}
.title-bar{
    width: 50%;
}
.title p{
    color: rgba(0, 0, 0, 0.658);
    margin-bottom: 50px;
}
.title-bar img{
    width: 100%;
}
.title{
    margin-top: 10%;
}
.button{
    margin-top: 50px;
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 81, 0),rgb(255, 115, 0));
    padding: 20px 40px;
    border-radius: 30px;
    color: white;
    box-shadow: 5px 5px 80px rgb(255, 115, 0);
}
.middle-sec{
    display: flex;
    background-image: url(Images/middle-sec-bg.png);
    background-repeat: no-repeat;
}
.middle-div{
    width: 50%;
    margin-top: 40px;
    margin-right: 120px;
}
.middle-div img{
    height: 500px;
    margin-left: 180px;
    margin-top: 60px;
}
.recipes{
    text-align: center;
    margin-top: 50px;
}
.h2-color h2{
    color: gray;
    font-size: 30px;
}
.third-sec{
    display: flex;
    width: 100%;
}
.set-img{
    width: 33.3%;
    margin: 20px;
    padding: 20px;
    box-shadow:10px 10px 40px gray;
    border-radius: 20px;
}
.set-img img{
    height: 250px;
    border-radius: 20px;
    width: 350px;
}
.p-color p{
    line-height: 20px;
    color: rgb(75, 73, 73);
}
.set-img h2{
    font-size: 30px;
    font-weight: bold;
}
.social-sec{
    display: flex;
    margin: 10% 10%;
    padding: 30px;
    box-shadow:10px 10px 40px gray;
    border-radius: 20px;
}
.social-title{
    text-align: center;
    width: 33.3%;
}
.social-title h1{
    color: black;
}
footer{
    text-align: center;
    background: rgba(4, 4, 17, 0.938);
    height: 200px;
    padding-top: 30px;
}
footer p{
    color: white;
}